{% extends "layout.html" %}

{% block body %}

<div id="wrapper">



  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Enfermedades</h1>
        <div class="col-lg-12 well">
            <h4>  Enfermedad Cardiaca Reumática</h4>
        </div>
        <div class="col-lg-12 well">
            <h4>  Enfermedad Cerebrovascular</h4>
        </div>
        <div class="col-lg-12 well">
            <h4>  Cardiopatía Isquémica</h4>
        </div>
        <div class="col-lg-12 well">
            <h4>  Cardiopatía Hipertensiva</h4>
        </div>
        <div class="col-lg-12 well">
            <h4>Trastorno Inflamatorio del Corazón</h4>
        </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>
      <div class="row">

      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  {% endblock %}
