{% extends "layout.html" %}

{% block body %}

<div id="wrapper">



  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Historial de ofertas</h1>
        <div class="col-lg-12 well">
            <h4>  Gerente General</h4>
          <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>

        </div>
        <div class="col-lg-12 well">
            <h4>  Gerente de ventas</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Asesor comercial</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>

        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>
        <div class="col-lg-12 well">
            <h4>  Vendedor</h4>
           <i class="fa fa-pencil-square-o pull-right control-group"aria-hidden="true"> </i>
        </div>

        </div>
        <!-- /.col-lg-12 -->
      </div>
      <div class="row">

      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  {% endblock %}
